# Email Configuration
SENDER_EMAIL=sahilbhandare80@gmail.com
SENDER_PASSWORD=hxzbgdbbfopqhrme
RECIPIENT_EMAIL=sahilbhandare79@gmail.com
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587

# Optional: Set to False to disable email notifications
EMAIL_ENABLED=True

# Port configuration
PORT=8000
