# Directories
uploaded_audio/
uploaded_audio
testing_chunks/
testing_chunks
uploaded_audio_dir/
uploaded_audio_dir
__pycache__/
training_data/
input_audio/
input_audio
audio.webm
temp.wav
# Python
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
