# Directories
uploaded_audio/
testing_chunks/
uploaded_audio_dir/
__pycache__/

# Python
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
